body {
    color: #ffffff;
    background-color: #1a202c;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    padding: 20px;
    overflow-y: auto;
    background-color: #2d3748;
    color: white;
    border: 1px solid #4a5568;
}

.sidebar-left {
    left: 0;
    border-right: 1px solid #4a5568;
}

.sidebar-right {
    right: 0;
    border-left: 1px solid #4a5568;
}

.sidebar h3 {
    color: #f7fafc;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #e2e8f0;
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: #4a5568;
    color: #f7fafc;
}

 .child-categories {
    display: none;
    margin-left: 20px;
}

.child-categories.show {
    display: block;
}

.parent-category::after {
    content: '\25BC';
    float: right;
    transition: transform 0.3s ease;
}

.parent-category.open::after {
    transform: rotate(-180deg);
}

.category-card {
    display: none;
}

.category-card:nth-child(-n+25) {
    display: block;
}

.hover-bg-orange:hover {
    background-color: #ed8936 !important;
}

.modal-content {
    background-color: #2d3748;
    color: #f7fafc;
}

.modal-header {
    border-bottom: 1px solid #4a5568;
}

.btn-close {
    color: #f7fafc;
}

.form-control {
    background-color: #4a5568;
    color: #f7fafc;
    border: 1px solid #718096;
}

.form-control:focus {
    background-color: #4a5568;
    color: #f7fafc;
    border-color: #ed8936;
    box-shadow: 0 0 0 0.2rem rgba(237, 137, 54, 0.25);
}

.btn-primary {
    background-color: #ed8936;
    border-color: #ed8936;
}

.btn-primary:hover {
    background-color: #dd6b20;
    border-color: #dd6b20;
}

.sidebar .parent-category::after {
    content: '\25BC';
    float: right;
    transition: transform 0.3s ease;
}

.sidebar .parent-category.open::after {
    transform: rotate(-180deg);
}

a:hover{
    text-decoration: none;
    color: white;
}

#toggle-button{
    background-color: rgb(24, 26, 27);
    display: flex;
    margin: 2% auto auto;
}

card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



