{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dk2fdiuvb/image/upload/v1720972858/media/Logos/ilefxrzrjuuvmt4bdmgu.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <!-- Font Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <script src="{% static 'js/searchBar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
</head>
<style>
        
</style>
<body class="text-white d-flex flex-column" style="background-color: rgb(31, 41, 55);">
    <header class="py-4 position-relative" style="background-color: rgb(17, 24, 39)">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse" id="navbarContent">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item"><a href="{% url 'Store:index' %}" class="nav-link text-white hover-text-orange">Home</a></li>
                            <li class="nav-item"><a href="{% url 'Store:supplies' %}" class="nav-link text-white hover-text-orange">Supplies & Feeders</a></li>
                            <li class="nav-item"><a href="https://www.youtube.com/@ClintsReptiles/videos" target="_blank" class="nav-link text-white hover-text-orange">Care Guides</a></li>
                            <li class="nav-item"><a href="{% url 'Store:about' %}" class="nav-link text-white hover-text-orange">About Us</a></li>
                            <li class="nav-item"><a href="{% url 'Store:contact' %}" class="nav-link text-white hover-text-orange">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="search-container">
                        <input type="text" id="search-input" class="search-bar" style="border-color: white" placeholder="Search..." autocomplete="off">
                        <div id="search-suggestions" class="search-suggestions"></div>
                        <a href="#" class="search-icon"><i class="fa fa-search cursor-pointer text-white hover-text-orange mr-3"></i></a>
                    </div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'Store:cart' %}"><i class="fa fa-shopping-cart cursor-pointer text-white hover-text-orange mr-3"></i></a>
                    {% else %}
                        <a href="{% url 'Store:login' %}"><i class="fa fa-shopping-cart cursor-pointer text-white hover-text-orange mr-3"></i></a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'Store:userProfile' %}"><i class="fa fa-user cursor-pointer text-white hover-text-orange"></i></a>
                    {% else %}
                        <a href="{% url 'Store:login' %}"><i class="fa fa-user cursor-pointer text-white hover-text-orange"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="text-white py-4" style="background-color: rgba(17, 24, 39)">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <h3 class="h5 font-weight-bold mb-3">Quick Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'Store:index' %}" class="text-white hover-text-orange">Home</a></li>
                        <li><a href="{% url 'Store:supplies' %}" class="text-white hover-text-orange">Feeders</a></li>
                        <li><a href="{% url 'Store:supplies' %}" class="text-white hover-text-orange">Supplies</a></li>
                        <li><a href="https://www.youtube.com/@ClintsReptiles/videos" class="text-white hover-text-orange">Care Guides</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-4">
                    <h3 class="h5 font-weight-bold mb-3">Customer Service</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'Store:contact' %}" class="text-white hover-text-orange">Contact Us</a></li>
                        <li><a href="#" class="text-white hover-text-orange">FAQ</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'Store:userProfile' %}" class="text-white hover-text-orange">Shipping Information</a></li>
                        {% else %}
                            <li><a href="{% url 'Store:login' %}" class="text-white hover-text-orange">Shipping Information</a></li>
                        {% endif %}
                        <li><a href="#" class="text-white hover-text-orange">Return Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-4">
                    <h3 class="h5 font-weight-bold mb-3">About Us</h3>
                    <p>Exotic Pet Shop is dedicated to providing the highest quality exotic pets and supplies, coupled with expert advice and support.</p>
                </div>
                <div class="col-md-3 mb-4">
                    <h3 class="h5 font-weight-bold mb-3">Follow Us</h3>
                    <div class="d-flex">
                        <a href="https://www.facebook.com/profile.php?id=100093383570742" class="text-white hover-text-orange mr-3"><i class="fab fa-facebook"></i></a>
                        <a href="https://x.com/TheTarantulaCo1" class="text-white hover-text-orange mr-3"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.youtube.com/@tarantulacollective" class="text-white hover-text-orange mr-3"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/exotic_petshop79/" class="text-white hover-text-orange"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="mt-4 pt-4 border-top border-light text-center">
                <p>&copy; 2024 Exotic Pet Shop. All rights reserved.</p>
            </div>
        </div>
    </footer>


    <script>
       document.addEventListener('DOMContentLoaded', function() {
            const navbarToggler = document.querySelector('.navbar-toggler');
            const navbarCollapse = document.querySelector('.navbar-collapse');

            // Toggle the 'show' class when the navbar-toggler is clicked
            navbarToggler.addEventListener('click', function(event) {
                event.stopPropagation(); // Prevent the click event from bubbling up
                navbarCollapse.classList.toggle('show');
            });

            // Close the mobile menu when a nav item is clicked
            const navItems = document.querySelectorAll('.nav-item');
            navItems.forEach(item => {
                item.addEventListener('click', function() {
                    if (navbarCollapse.classList.contains('show')) {
                        navbarCollapse.classList.remove('show');
                    }
                });
            });

            // Close the mobile menu when clicking outside the navbar
            document.addEventListener('click', function(event) {
                const isClickInside = navbarToggler.contains(event.target) || navbarCollapse.contains(event.target);
                if (!isClickInside && navbarCollapse.classList.contains('show')) {
                    navbarCollapse.classList.remove('show');
                }
            });
        });
    </script>
</body>
</html>