{% load static %}
<!DOCTYPE html>
<html lang="en">
{% if messages %}
    {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
    {% endfor %}
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Exotic Pet Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form id="login-form" action="{% url 'Store:login' %}" method="post">
            {% csrf_token %}
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Log In</button>
        </form>
        <div class="links">
            <a href="#forgot-password">Forgot Password?</a>
            <br>
            <a href="{% url 'Store:register' %}">Don't have an account? Register</a>
        </div>
    </div>
</body>
</html>