{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Exotic Pet Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
</head>
<body>
    <div class="register-container">
        <h1>Register</h1>
       <form method="POST">
            {% csrf_token %}
            <input type="text" id="fullName" name="{{ form.username.name }}" placeholder="Full Name" required value="{{ form.username.value|default_if_none:'' }}">
            <input type="email" id="email" name="{{ form.email.name }}" placeholder="Email" required value="{{ form.email.value|default_if_none:'' }}">
            <input type="password" id="password" name="{{ form.password1.name }}" placeholder="Password" required value="{{ form.password1.value|default_if_none:'' }}">
            <input type="password" id="confirmPassword" name="{{ form.password2.name }}" placeholder="Confirm Password" required value="{{ form.password2.value|default_if_none:'' }}">
            <button type="submit">Register</button>
        </form>
        <div class="links">
            <a href="{% url 'Store:login' %}">Already have an account? Log in</a>
        </div>
    </div>
</body>
</html>